-if user_signed_in? && current_user.is_admin
  .m-t-10
  .container
    .row
      .col-xs-12
        =link_to :Blogs,blogs_path,class: 'btn btn-primary'
        =link_to "Create Blog",new_blog_path,class: 'btn btn-primary'
        -if @blog
          =link_to "Edit this Blog",edit_blog_path(@blog),class: 'btn btn-primary'
-if @blog && @blog.meta
  -@meta=@blog.meta