=render 'heading',inline: true
.container
  -if @blogs
    -@blogs.each do |blog|
      .row
        .s12
          =link_to blog_path(blog.url||blog.id) do
            %h5.m-t-10
              %strong
                =sanitize blog.header
          .m-t-10
            =sanitize blog.sub_header
          .m-t-10
            =sanitize blog.blog_content
          .m-t-10
          .clear-both-hr
  -if @blog
    -blog=@blog
    .row
      .s12
        =link_to blog_path(blog.url||blog.id) do
          %h5.m-t-10
            %strong
              =sanitize blog.header
        .m-t-10
          =sanitize blog.sub_header
        .m-t-10
          =sanitize blog.blog_content
        .m-t-10
        .clear-both-hr