.div{style: "float:none;"}
  %h4
    Thanks for contacting me.
.div
  %p Hi #{@name}
  %p I have received your message '#{@message}' through #{@root_url}.
.div
  %p Thanks and regards,
  %p Mohit
  %p Email : dimomohit@gmail.com