.div{style: "float:none;"}
  %h4
    Thank you for you message.
.div
  %p Hi #{@message[:name].humanize}
  %p I have received your message through #{@root_url}.
.div
  %p Mohit
  %p Email : dimomohit@gmail.com