.div{style: "float:none;"}
  %h4
    Thank you for showing interest.
.div
  %p Hi #{@subscription.name.humanize}
  %p I have received your message through #{root_url}.
.div
  %p Mohit
  %p Email : dimomohit@gmail.com