/ Banner
%section#banner
  %h2
    %strong User Task
    is a user task mapping according to Greedy Algo
  %p Brought to you by DimoMohit
  %ul.actions
    %li
      =link_to 'Get started',new_user_session_path,class: 'button special'
/ One
%section#one.wrapper.special
  .inner
    %header.major
      %h2 Lorem ipsum feugiat tempus
    .features
      .feature
        %i.fa.fa-diamond
        %h3 Etiam consequat
        %p Sed tempus feugiat adipiscing nisl cursus aliquam dolore.
      .feature
        %i.fa.fa-copy
        %h3 Sed adipiscing
        %p Sed tempus feugiat adipiscing nisl cursus aliquam dolore.
      .feature
        %i.fa.fa-paper-plane-o
        %h3 Feugiat nullam
        %p Sed tempus feugiat adipiscing nisl cursus aliquam dolore.
      .feature
        %i.fa.fa-save
        %h3 Amet imperdiet
        %p Sed tempus feugiat adipiscing nisl cursus aliquam dolore.
      .feature
        %i.fa.fa-envelope-o
        %h3 Tempus lorem
        %p Sed tempus feugiat adipiscing nisl cursus aliquam dolore.
/ Two
%section#two.wrapper.style2.special
  .inner.narrow
    %header
      %h2 Get in touch
    =form_tag contact_path ,html: {class: 'grid-form'} do |f|
      .form-control.narrow
        %label{:for => "name"} Name
        =text_field_tag :name,'',id: :name
      .form-control.narrow
        %label{:for => "email"} Email
        =email_field_tag :email,'',id: :email
      .form-control
        %label{:for => "message"} Message
        =text_area_tag :message,'',id: :message
      %ul.actions
        %li
          =submit_tag 'Send Message'

%footer#footer
  .copyright
    \&copy; Untitled. Design:
    
      
/ Scripts